<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <table>
    <caption>Expediente de Trabalho</caption>
      <tr>
        <td></td>
        <th>Domingo</th>
        <th>Segunda</th>
      </tr>
      <tr>
        <th>08:00 - 12:00</th>
        <td>Fechado</td>
        <td>Aberto</td>
      </tr>
      <tr>
        <th>12:00 - 18:00</th>
        <td>Fechado</td>
        <td>Aberto</td>
      </tr>
  </table>



<h1>Texto</h1>
<h2>Texto em parágrafo</h2>

  <p>Este é um parágrafo.</p>
  <p>Este é um outro parágrafo.</p>

<h2>Texto em lista ordenada</h2>

  <ol>
    <li>Café</li>
    <li>Chá</li>
    <li>Leite</li>
  </ol>

<h2>Texto em lista desordenada</h2>

  <ul>
    <li>Café</li>
    <li>Chá</li>
    <li>Leite</li>
  </ul>

<h2>Texto em colunas</h2>

  <div class="newspaper"> Todo documento HTML possui marcadores (tags), palavras entre parênteses angulares (< e >); esses marcadores são os comandos de formatação da linguagem. Um elemento é formado por um nome de marcador (tag), atributos, valores e filhos (que podem ser outros elementos ou texto). Os atributos modificam os resultados padrões dos elementos e os valores caracterizam essa mudança. </div>

<h2>Texto em citação</h2>

  <p>O WWF trabalha constantemente por: <q>Um futuro em que as pessoas vivam em harmonia com a natureza.</q></p>

<h1>Imagens</h1>
<h2>Imagens informativas</h2>

  <p>
    <img src="assets/img/dog.jpg" alt="Dog with a bell attached to its collar.">
    Off-duty guide dogs often wear ...
  </p>

<h2>Imagens decorativas</h2>

  <img src="assets/img/topinfo_bg.png" alt="" role="presentation">

<h2>Imagens funcionais</h2>

  <a href="http://www.w3.org/">
    <img src="assets/img/w3c.png" alt="Início do W3C">
  </a>

<a href="http://www.w3.org/">
  <img src="assets/img/w3c.png" alt="Teste"> W3C Home
</a>

<a href="javascript:print()">
  <img src="assets/img/print.png" alt="Print this page">
</a>

<h2>Imagens de texto</h2>

  <img src="assets/img/acess-city.png" alt="Seu acesso à cidade.">

<h2>Imagens complexas</h2>

  <img src="assets/img/peacock.jpg"
     alt="Cabeça de um pavão macho"
     aria-describedby="description">

  <p id="description"> O macho é azul metálico na coroa, as penas da cabeça são curtas e enroladas. A crista em forma de leque na cabeça é feita de penas com eixos pretos nus e ponta com cinto verde-avermelhado. Uma faixa branca acima do olho e uma mancha branca em forma de meia-lua abaixo do olho é formada por pele branca nua. Os lados da cabeça têm penas azul-esverdeadas iridescentes. A parte traseira tem penas bronze-verdes escamosas com marcações pretas e de cobre. </p>

<h2>Grupos de imagens</h2>
  
  <img src="assets/img/star-full.png"  alt="3.5 out of 5 stars">
  <img src="assets/img/star-full.png"  alt="">
  <img src="assets/img/star-full.png"  alt="">
  <img src="assets/img/star-half.png"  alt="">
  <img src="assets/img/star-empty.png" alt="">


  <figure role="group" aria-labelledby="fig1">
    <figcaption id="fig1">
      The castle through the ages: 1423, 1756, and 1966 respectively.
    </figcaption>


    <figure role="group" aria-labelledby="fig11">
      <img src="assets/img/castle-etching.jpg"
        alt="The castle has one tower, and a tall wall around it.">
      <figcaption id="fig11">Charcoal on  wood. Anonymous, circa 1423.</figcaption>
    </figure>

    <figure role="group" aria-labelledby="fig12">
      <img src="assets/img/castle-painting.jpg"
        alt="The castle now has two towers and two walls.">
      <figcaption id="fig12">Oil-based paint on canvas. Eloisa Faulkner, 1756.</figcaption>
    </figure>

    <figure role="group" aria-labelledby="fig13">
      <img src="assets/img/castle-fluro.jpg"
        alt="The castle lies in ruins, the original tower all that remains in one piece.">
      <figcaption id="fig13">Film photograph. <span lang="fr">Séraphin Médéric Mieusement</span>, 1936.</figcaption>
    </figure>

  </figure>

<h2>Mapas de imagens</h2>

  <img src="assets/img/orgchart.png"
       alt="Board of directors and related staff: "
       usemap="#Map">

  <map name="Map" id="Map">
    <area
      shape="rect"
      coords="176,14,323,58"
      href="…"
      alt="Davy Jones: Chairman">
    <area shape="rect" coords="81,75,226,114" href="…"
      alt="Carole Brewster: Company Secretary">
    <area shape="rect" coords="6,138,155,182" href="…"
      alt="Harry H Brown: Marketing Director">
    <area shape="rect" coords="175,138,323,182" href="…"
      alt="Paula Holbein: Sales Director">
    <area shape="rect" coords="345,136,496,186" href="…"
      alt="Hugh Howard: Finance Director">
  </map>

  
  <h1>Áudio, vídeo e multimídia</h1>
  <h2>Player de vídeo</h2>

  <video width="320" height="240" alt="Descrição do vídeo" controls>
  <source src="assets/img/movie.mp4" type="video/mp4">
  <source src="assets/img/movie.ogg" type="video/ogg">
  <track kind="subtitles" src="assets/img/subtitles.vtt" srclang="en" label="English descriptions" />

  Your browser does not support the video tag.
  </video>

  <h2>Player de ́áudio</h2>

  <audio controls  alt="Descrição do audio">
  <source src="assets/img/horse.ogg" type="audio/ogg">
  <source src="assets/img/horse.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>

  <!--<h1>Outros tipos de mídia</h1>
  <h2>Notação matemática</h2> 
    <math>&int;_a_^b^{{'{'}}f(x)<over>1+x{{'}'}} dx</math>

  <h2>Fórmula química</h2>
    <math class="chem"> Fe_2_^2+^Cr_2_O_4_</math>-->

  <h1>Cabeçalhos</h1>
    <h2>Títulos de seções</h2>
  
      <h1>Este é um título 1</h1>
      <h2>Este é um título 2</h2>
      <h3>Este é um título 3</h3>
      <h4>Este é um título 4</h4>
      <h5>Este é um título 5</h5>
      <h6>Este é um título 6</h6>
    

      <h1>Links</h1>
      <h2>Links locais</h2>
        <a href="html_images.asp">Tutorial de HTML</a>
    
      <h2>Links externos</h2>
        <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>
    
      <h2>Links em imagens</h2>
    
        <a href="default.asp">
          <img src="assets/img/smiley.gif" alt="HTML tutorial">
        </a>

        
<h1>Tabelas</h1>
<h2>Tabelas com um cabeçalho</h2>

  <h3>Example 1: Table with header cells in the top row only</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>Venue</th>
    </tr>
    <tr>
      <td>12 February</td>
      <td>Waltz with Strauss</td>
      <td>Main Hall</td>
    </tr>
  </table>


  <h3>Example 2: Table with header cells in the first column only</h3>
  <table>
    <tr>
      <th>Date</th>
      <td>12 February</td>
      <td>24 March</td>
      <td>14 April</td>
    </tr>
    <tr>
      <th>Event</th>
      <td>Waltz with Strauss</td>
      <td>The Obelisks</td>
      <td>The What</td>
    </tr>
    <tr>
      <th>Venue</th>
      <td>Main Hall</td>
      <td>West Wing</td>
      <td>Main Hall</td>
    </tr>
  </table>

  <h3>Example 3: Table with ambiguous data</h3>
  <table>
    <caption>Teddy bear collectors:</caption>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">City</th>
    </tr>
    <tr>
      <td>Phoenix</td>
      <td>Imari</td>
      <td>Henry</td>
    </tr>
    <tr>
      <td>Zeki</td>
      <td>Rome</td>
      <td>Min</td>
    </tr>
    <tr>
      <td>Apirka</td>
      <td>Kelly</td>
      <td>Brynn</td>
    </tr>
  </table>

  
  <h2>Tabelas com dois cabeçalhos</h2>
    <h3>Example 1: Table with header cells in the top row and first column</h3>
    <table>
      <tr>
        <td></td>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      <tr>
        <th>09:00 - 11:00</th>
        <td>Closed</td>
        <td>Open</td>
        <td>Open</td>
        <td>Closed</td>
        <td>Closed</td>
      </tr>
      <tr>
        <th>11:00 - 13:00</th>
        <td>Open</td>
        <td>Open</td>
        <td>Closed</td>
        <td>Closed</td>
        <td>Closed</td>
      </tr>
      <tr>
        <th>13:00 - 15:00</th>
        <td>Open</td>
        <td>Open</td>
        <td>Open</td>
        <td>Closed</td>
        <td>Closed</td>
      </tr>
      <tr>
        <th>15:00 - 17:00</th>
        <td>Closed</td>
        <td>Closed</td>
        <td>Closed</td>
        <td>Open</td>
        <td>Open</td>
      </tr>
    </table>


    <h3>Example 2: Table with an offset column of header cells</h3>
    <table>
      <caption>
        Holidays taken in the last six months
      </caption >
      <thead>
        <tr>
          <th scope="col"><abbr title="Identification Number">ID</abbr></th>
          <th scope="col">Name</th>
          <th scope="col">July</th>
          <th scope="col">August</th>
          <th scope="col">September</th>
          <th scope="col">October</th>
          <th scope="col">November</th>
          <th scope="col">December</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>215</td>
          <th scope="row">Abel</th>
          <td>5</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>3</td>
        </tr>

        <tr>
          <td>231</td>
          <th scope="row">Annette </th>
          <td>0</td>
          <td>5</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td>6</td>
        </tr>

        <tr>
          <td>173</td>
          <th scope="row">Bernard</th>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>0</td>
          <td>0</td>
        </tr>

        <tr>
          <td>141</td>
          <th scope="row">Gerald</th>
          <td>0</td>
          <td>10</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>8</td>
        </tr>

        <tr>
          <td>99</td>
          <th scope="row">Michael</th>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>0</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>

    
  <!--<h2>Tabelas com cabeçalhos irregulares</h2>
  <h3>Example 1: Table with two tier headers</h3>
  <table>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <tr>
      <td rowspan="2"></td>
      <th colspan="2" scope="colgroup">Mars</th>
      <th colspan="2" scope="colgroup">Venus</th>
    </tr>
    <tr>
      <th scope="col">Produced</th>
      <th scope="col">Sold</th>
      <th scope="col">Produced</th>
      <th scope="col">Sold</th>
    </tr>
    <tr>
      <th scope="row">Teddy Bears</th>
      <td>50,000</td>
      <td>30,000</td>
      <td>100,000</td>
      <td>80,000</td>
    </tr>
    <tr>
      <th scope="row">Board Games</th>
      <td>10,000</td>
      <td>5,000</td>
      <td>12,000</td>
      <td>9,000</td>
    </tr>
  </table>-->

  
  <!--<h3>Example 2: Table with headers spanning multiple rows or columns</h3>
  <table>
    <caption>
      Poster availability
    </caption>
    <col>
    <col>
    <colgroup span="3"></colgroup>
    <thead>
      <tr>
        <th scope="col">Poster name</th>
        <th scope="col">Color</th>
        <th colspan="3" scope="colgroup">Sizes available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th rowspan="3" scope="rowgroup">Zodiac</th>
        <th scope="row">Full color</th>
        <td>A2</td>
        <td>A3</td>
        <td>A4</td>
      </tr>
      <tr>
        <th scope="row">Black and white</th>
        <td>A1</td>
        <td>A2</td>
        <td>A3</td>
      </tr>
      <tr>
        <th scope="row">Sepia</th>
        <td>A3</td>
        <td>A4</td>
        <td>A5</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th rowspan="2" scope="rowgroup">Angels</th>
        <th scope="row">Black and white</th>
        <td>A1</td>
        <td>A3</td>
        <td>A4</td>
      </tr>
      <tr>
        <th scope="row">Sepia</th>
        <td>A2</td>
        <td>A3</td>
        <td>A5</td>
      </tr>
    </tbody>
  </table>-->


  <h2>Tabelas com cabeçalhos de vários níveis</h2>
    <h3>Example 1: Table with multiple column headers in each column</h3>
    <table>
      <caption>
        Supplier contacts
      </caption>
      <tr>
        <td id="blank">&nbsp;</td>
        <th id="co1" headers="blank">Example 1 Ltd</th>
        <th id="co2" headers="blank">Example 2 Co</th>
      </tr>
      <tr>
        <th id="c1" headers="blank">Contact</th>
        <td headers="co1 c1">James Phillips</td>
        <td headers="co2 c1">Marie Beauchamp</td>
      </tr>
      <tr>
        <th id="p1"  headers="blank">Position</th>
        <td headers="co1 p1">Sales Director</td>
        <td headers="co2 p1">Sales Manager</td>
      </tr>
      <tr>
        <th id="e1"  headers="blank">Email</th>
        <td headers="co1 e1">jp@1ltd.example.com</td>
        <td headers="co2 e1">marie@2co.example.com</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <th id="co3" headers="blank">Example 3 Ltd</th>
        <th id="co4" headers="blank">Example 4 Inc</th>
      </tr>
      <tr>
        <th id="c2"  headers="blank">Contact</th>
        <td headers="co3 c2">Suzette Jones</td>
        <td headers="co4 c2">Alex Howe</td>
      </tr>
      <tr>
        <th id="p2" headers="blank">Position</th>
        <td headers="co3 p2">Sales Officer</td>
        <td headers="co4 p2">Sales Director</td>
      </tr>
      <tr>
        <th id="e2" headers="blank">Email</th>
        <td headers="co3 e2">Suz@ltd3.example.com</td>
        <td headers="co4 e2">howe@4inc.example.com</td>
      </tr>
    </table>


    <h3>Example 2: Table with three headers related to each data cell</h3>
    <table summary="Column one has the location and size of accommodation, other columns show the type and number of properties available">
      <caption>
        Availability of holiday accommodation
      </caption>
      <thead>
        <tr>
          <td></td>
          <th id="stud" scope="col">
            Studio
          </th>
          <th id="apt" scope="col">
            <abbr title="Apartment">Apt</abbr>
          </th>
          <th id="chal" scope="col">
            Chalet
          </th>
          <th id="villa" scope="col">
            Villa
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="par" class="span" colspan="5" scope="colgroup">
            Paris
          </th>
        </tr>
        <tr>
          <th headers="par" id="pbed1">
            1 bedroom
          </th>
          <td headers="par pbed1 stud">
            11
          </td>
          <td headers="par pbed1 apt">
            20
          </td>
          <td headers="par pbed1 chal">
            25
          </td>
          <td headers="par pbed1 villa">
            23
          </td>
        </tr>
        <tr>
          <th headers="par" id="pbed2">
            2 bedroom
          </th>
          <td headers="par pbed2 stud">
            -
          </td>
          <td headers="par pbed2 apt">
            43
          </td>
          <td headers="par pbed2 chal">
            52
          </td>
          <td headers="par pbed2 villa">
            32
          </td>
        </tr>
        <tr>
          <th headers="par" id="pbed3">
            3 bedroom
          </th>
          <td headers="par pbed3 stud">
            -
          </td>
          <td headers="par pbed3 apt">
            13
          </td>
          <td headers="par pbed3 chal">
            15
          </td>
          <td headers="par pbed3 villa">
            40
          </td>
        </tr>
        <tr>
          <th id="rome" class="span" colspan="5" scope="colgroup">
            Rome
          </th>
        </tr>
        <tr>
          <th id="rbed1" headers="rome">
            1 bedroom
          </th>
          <td headers="rome rbed1 stud">
            13
          </td>
          <td headers="rome rbed1 apt">
            21
          </td>
          <td headers="rome rbed1 chal">
            22
          </td>
          <td headers="rome rbed1 villa">
            3
          </td>
        </tr>
        <tr>
          <th id="rbed2" headers="rome">
            2 bedroom
          </th>
          <td headers="rome rbed2 stud">
            -
          </td>
          <td headers="rome rbed2 apt">
            23
          </td>
          <td headers="rome rbed2 chal">
            43
          </td>
          <td headers="rome rbed2 villa">
            30
          </td>
        </tr>
        <tr>
          <th id="rbed3" headers="rome">
            3 bedroom
          </th>
          <td headers="rome rbed3 stud">
            -
          </td>
          <td headers="rome rbed3 apt">
            16
          </td>
          <td headers="rome rbed3 chal">
            32
          </td>
          <td headers="rome rbed3 villa">
            40
          </td>
        </tr>
      </tbody>
    </table>


  <h2>Tabelas com legenda e resumo</h2>
  <h3>Example 1: Identifying a table using a caption</h3>
  <table>
    <caption>Concerts</caption>
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>Venue</th>
    </tr>
    <tr>
      <td>12 Feb</td>
      <td>Waltz with Strauss</td>
      <td>Main Hall</td>
    </tr>
  </table>

  <h1>Controles, formulários e funcionalidades</h1>
  <h2>Checkboxes</h2>
    <form>
      <label for="bike">Eu tenho uma bicicleta</label> 
        <input id="bike" type="checkbox" name="vehicle1" value="Bike">
      <br /><label for="car">Eu tenho um carro</label> 
        <input id="car" type="checkbox" name="vehicle2" value="Car"> 
    </form>
  <p>Selecione seu sexo</p>

  <h2>Radio buttons</h2>
    <form>
      <label for="male">Masculino</label> 
        <input id="male" type="radio" name="gender" value="male" checked>
  <br />
      <label for="female">Feminino</label> 
        <input id="female" type="radio" name="gender" value="female">


    </form>

  <h2>Buttons</h2>
    <input type="button" onclick="alert('Hello World!')" value="Click Me!">
  <p>Selecione um modelo de carro</p>

  <h2>Dropdowns list</h2>
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>  
  <p>Entre com seu primeiro nome</p>

  <h2>Inputs de texto</h2>
    <label for="firstname">Primeiro nome:</label> 
    <input type="text" name="firstname" id="firstname" />




  <p> ----------------------------------- </p> 


  <form id="movieForm" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-8">
                <label class="control-label">Movie title</label>
                <input type="text" class="form-control" name="title" />
            </div>

            <div class="col-xs-4 selectContainer">
                <label class="control-label">Genre</label>
                <select class="form-control" name="genre">
                    <option value="">Choose a genre</option>
                    <option value="action">Action</option>
                    <option value="comedy">Comedy</option>
                    <option value="horror">Horror</option>
                    <option value="romance">Romance</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label">Director</label>
                <input type="text" class="form-control" name="director" />
            </div>

            <div class="col-xs-4">
                <label class="control-label">Writer</label>
                <input type="text" class="form-control" name="writer" />
            </div>

            <div class="col-xs-4">
                <label class="control-label">Producer</label>
                <input type="text" class="form-control" name="producer" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="site" class="control-label">Website</label>
                <input id="site" type="text" class="form-control" name="website" />
            </div>

            <div class="col-xs-6">
                <label class="control-label">Youtube trailer</label>
                <input type="text" class="form-control" name="trailer" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Review</label>
        <textarea class="form-control" name="review" rows="8"></textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Rating</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="rating" value="terrible" /> Terrible
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" value="watchable" /> Watchable
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" value="best" /> Best ever
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-default">Validate</button>
  </form>

  <div class="container-fluid">

    <h3>Ghyphicons</h3>

    <!-- <p>Com o "aria-hidden = true" para indicar que o botão é decorativo e assim evitar a saída de texto não intencional e confuso nos leitores de tela. </p> -->

    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
    </button>

    <br><br>

    <!-- <p>Tamém com o "aria-hidden=true" e o "aria-label=Left Align" para indicar um texto alternativo para o ícone.</p> -->

    <button type="button" class="btn btn-default" aria-label="Alinhar a esquerda">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>



    <h3>Dropdown</h3>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Products
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Notebooks</a></li>
        <li><a href="#">Servers</a></li>
        <li><a href="#">Desktops</a></li>
      </ul>
    </div>


    <h3>Button Groups</h3>

    <!-- <p>Foi utilizado o "role = group para indicar as tecnologias de apoio que uma série de botões é agrupado."</p> -->

    <div class="btn-group" role="group" aria-label="Group">
      <button type="button" class="btn btn-default">Left</button>
      <button type="button" class="btn btn-default">Middle</button>
      <button type="button" class="btn btn-default">Right</button>
    </div>

    <br><br>

    <!-- <p>Para grupos de botões, o role seria "group", enquanto que as barras de ferramentas devem ter um role = "toolbar".</p> -->

    <div class="btn-toolbar" role="toolbar" aria-label="Barra de ferramentas com botões agrupados">
      <div class="btn-group" role="group" aria-label="Primeiro grupo">
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
      </div>
      <div class="btn-group" role="group" aria-label="Segundo grupo">
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
      </div>
      <div class="btn-group" role="group" aria-label="Terceiro grupo">
        <button type="button" class="btn btn-default">8</button>
      </div>
    </div>
    


    <h3>Button Dropdown</h3>

    <!-- <p>Utilizam "aria-haspopup = true" e "aria-expanded = false".</p> -->

    <div class="btn-group">
      <button type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Show the Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    


    <h3>Input groups</h3>

    <!-- <p>Este primeiro campo conta com o "aria-required = true".</p> -->

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-labelledby="Username" aria-required="true">
    </div><br>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Recipient's Username" aria-describedby="Endereço do e-mail">
      <span class="input-group-addon" id="basic-addon2">@example.com</span>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control" aria-label="Valor em reais">
      <span class="input-group-addon">.00</span>
    </div>


    <h3>Navs</h3>

    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <br>

    <!-- <p>Utilizando o JavaScript com "role" e atributos do ARIA.</p> -->
    
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>

<!--    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <p>Primeiro</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <p>Segundo</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            <p>Terceiro</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <p>Quarto</p>
        </div>
      </div> -->

    </div>



    <h3>Navbar</h3>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Navbar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <h3>Breadcrumb</h3>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>


    <h3>Pagination</h3>

    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1 <span class="sr-only">Current</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    

    <h3>Label</h3>

    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>



    <h3>Badges</h3>

    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
      <li role="presentation"><a href="#">Profile </a></li>
      <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
    </ul>



    <h3>Jumbotron</h3>

    <div class="jumbotron">
      <h1>Hello World!</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <!-- <p>Botão "Leia mais" sem o "role = button".</p> -->

    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>



    <h3>PageHeader</h3>

    <div class="page-header">
      <h1>Paris <br/><small>Is a major European city and a global center for art, fashion, gastronomy and culture</small></h1>
    </div>



    <h3>Thumbnail</h3>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.coral.com.br/images/cores/azul-tempestade-70bg-11-257.png" alt="Cor azul">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>


    <h3>Alert</h3>

    <div class="alert alert-success" role="alert">Warning! This site can be harmful to your system.</div>
    <div class="alert alert-info" role="alert">No internet access.</div>
    <div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not looking too good.</div>
    <div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try submitting again.</div>


    <h3>Progress Bar</h3>
    <div class="progress">
      <div id="barraTESTE" class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
        <span id="texto" class="sr-only"></span>
      </div>
    </div>


    <h3>Media Object</h3>

    <ul class="media-list">
      <li class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://i.imgur.com/vRJWSqe.gif?1" alt="Cor azul">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
            <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
        </div>
      </li>
    </ul>


    <h3>List Group</h3>

    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
      <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
    </div>



    <h3>Panels</h3>


    <div class="panel panel-default">
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>


    
    <h3>Responsive embed</h3>

    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8" allowfullscreen=""></iframe>
      </div>
    </div>



    <h3>Weels</h3>  

    <div class="well well-lg">
      <p>Look, I'm in a well!</p>
    </div>

    <h3>Tooltips</h3>

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Hotels</button>

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Cars</button>

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Vacations</button>

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Cruise</button>

    <h3>Popovers</h3>

    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Smartphone
    </button>

    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Feminine noun. Quality or character of what is available. Ease of approach, in the treatment or acquisition.">
      Accessibility
    </button>

    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style="margin-top: 4px;">
      Mobile
    </button>

    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Feminine noun. Quality or character of what is available. Ease of approach, in the treatment or acquisition." style="margin-top: 4px;">
      Website
    </button>



    <h3>Modal</h3>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                    <div class="modal-body">
                        <p>One fine body.</p>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <h3>Carousel</h3>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://i.imgur.com/eE2VuiR.png" alt="Primeira Imagem">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="http://i.imgur.com/loSUM3a.png" alt="Segunda Imagem">
          <div class="carousel-caption">
          </div>
        </div>

        <div class="item">
          <img src="http://i.imgur.com/dyRmrGx.png" alt="Terceira Imagem">
          <div class="carousel-caption">
          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>


<script>

  var valor = -1;

  function startTime() {
    valor ++;
    document.getElementById("barra").style.width = novaLargura(valor);
    document.getElementById("texto").innerHTML = novoTexto(valor);
    document.getElementById("barra").setAttribute("aria-valuenow", valor);

    if (valor < 100) {
      var t = setTimeout(function(){startTime()},150);
    }
  }

  function novaLargura(i) {
    i = i + "%";
     return i;
  }

  function novoTexto(i) {
    i = i + "% Completado";
    return i;
  }

</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>
$(function () {
$('[data-toggle="popover"]').popover()
})
</script>
</ion-content>
